.modal-container .modal {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.modal-container .modal .close-button {
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.modal-container .modal .close-button svg:hover {
  transition: all 300ms;
}

.modal-container .modal .close-button svg:hover {
  background-color: #9c27b0;
}

.modal {
  display: flex;
  color: #768087;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  background: #e9f0f8;
  border-radius: 12px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3),
    -1px -1px 1px rgba(209, 217, 230, 0.5),
    inset -2px 2px 5px rgba(209, 217, 230, 0.2),
    inset 2px -2px 5px rgba(209, 217, 230, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.9),
    inset 2px 2px 5px rgba(209, 217, 230, 0.9);
  padding: 30px;
}

.modal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
